.container-menu {
  position: fixed;
  min-width: 250px;
  height: 100vh;
  padding: 20px 0px;
  box-shadow: -1px 0px 5px 0px #0000001f;
}

.header-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-left: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: rgb(74, 109, 167);;
}

.title-chapter {
  display: flex;
  align-items: center;
  font-weight: 100;
  margin-left: 22px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.list {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  list-style: none;
  font-size: 14px;
  gap: 2px;  
  justify-content: center;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: rgba(247,247,247,0.9);
  transition: background .2s ease-out;
}

.list-item:hover {
  background: #f4f4f4;
}

.list-link {
  color: #555;
  text-decoration: none;
  font-size: 16px;
}

.active {
  border-left: 10px solid #4a6da7;
}